<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Can You Get Out</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

</head>
<body>
  <div class="container">
    <h1 class="text-center">Can You Get Out</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h2>Question</h2>
        <form class="form-inline" id="newquestionForm">
          <div class="form-group">
            <label for="title">Answer</label>
            <input type="text" class="form-control" name="title" placeholder="question title">
          </div>
          <!-- <div class="form-group">
            <label for="title">Characters</label>
            <input type="text" class="form-control" name="characters[name]" placeholder="question character 1">
            <input type="text" class="form-control" name="characters[name]" placeholder="question character 2">
          </div> -->
          <button type="submit" class="btn btn-default">Enter Answer</button>
        </form>
        <div id='questionTarget'>
          
        </div>
      </div>
    </div>
  </div>
</body>
</html>
