<!-- find me at "localhost:3000/landing" -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Landing Page</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

  <!-- Bootstrap CSS CDN -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Our Custom CSS -->
      <link rel="stylesheet" href="/styles/landing.css">
      <link rel="stylesheet" href="/styles/nav.css">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

  <!-- APPLICATION SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="/scripts/landing.js"></script>

</head>
<body>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class = "bring-to-front sidebar-overlay">
        <div id="dismiss">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>About</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><h5>The Creators</h5></a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><p>Elaine</p><a href="https://github.com/TheForce88">Github</a></li>
                    <li><p>Dereje</p><a href="https://github.com/Dereje24">Github</a></li>
                    <li><p>Kingsley</p><a href="https://github.com/xingzo">Github</a></li>
                </ul>
            </li>
            <li>
              <p><a href="#">Contact Us</a><p>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default bring-to-front">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </button>
                </div>

                <!-- Stretch Goals -->
                <div id="right-sidebar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <div class="pos-f-t">
                        <div class="collapse" id="navbarToggleExternalContent">
                          <div class="bg-dark p-4">
                            <h4 class="text-white">Paths</h4>
                            <li class="text-muted"><a href="/quiz">Computer Science Quiz</a></li>
                            <li class="text-muted"><a href="#">Marvel Quiz</a></li>
                          </div>
                        </div>
                        <nav class="navbar navbar-dark bg-dark">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        </nav>
                      </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="overlay"></div>


      <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <!-- Bootstrap Js CDN -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- jQuery Custom Scroller CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

      <script type="text/javascript">
          $(document).ready(function () {
              $("#sidebar").mCustomScrollbar({
                  theme: "minimal"
              });

              $('#dismiss, .overlay').on('click', function () {
                  $('#sidebar').removeClass('active');
                  $('.overlay').fadeOut();
              });

              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar').addClass('active');
                  $('.overlay').fadeIn();
                  $('.collapse.in').toggleClass('in');
                  $('a[aria-expanded=true]').attr('aria-expanded', 'false');
              });
          });
      </script>

  <!-- <h1>Hello Video!</h1>
  <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/images/Into_the_Wild.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/images/Into_the_Wild.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/images/Into_the_Wild.jpg" alt="">
        </div>
    </div>
  </div> -->

  <header class="video-header container">
    <div class="fullscreen-video-wrap">
      <video src="/images/Into_the_Wild.mp4" autoplay="true" loop="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content bring-to-front">
      <h1>Get Out</h1>
      <p>Answer challenging computer science questions as you travel around the world. See if you can make it back to the motherland...</p>
      <a href="/quiz" class="btn">Click to Enter</a>
    </div>
  </header>




</body>
</html>
