<!-- find me at "localhost:3000/landing" -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Landing Page</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
</head>
<body>

  <!-- <h1>Hello Video!</h1>
  <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/images/Into_the_Wild.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/images/Into_the_Wild.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/images/Into_the_Wild.jpg" alt="">
        </div>
    </div>
  </div> -->

  <header class="video-header container">
    <div class="fullscreen-video-wrap">
      <video src="/images/Into_the_Wild.mp4" autoplay="true" loop="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1>Get Out</h1>
      <p>Answer challenging computer science questions as you travel around the world. See if you can make it back to the motherland...</p>
      <a href="#" class="btn">Click to Enter</a>
    </div>
  </header>


</body>
</html>
