<h1>HI!</h1>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- APPLICATION SCRIPTS -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript"     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="/css/map.css"> -->
  <script src='/scripts/marvel.js'></script>

  <title>Mavel Quiz</title>
  <style>
   #map 
   { position:absolute;
   top:0;
    bottom:0;
    width:100%; }
  </style>
</head>
<body>



<div id='map'></div>
<script>
mapboxgl. accessToken =
"pk.eyJ1IjoieGluZ3pvIiwiYSI6ImNqZXU2cXV3cTAzczUyeG1tZG03Z25zbWgifQ.ej8aUunGo8OUsbRG3XGjuw";
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/xingzo/cjeyv8o3z4m5h2so7w13s9hzx',
    zoom: 8.6,
    center: [-83.765, 34.974]
});
</script>

<div id='menu'>
</div>



<script>

</script>

</body>
</html>
