body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}


#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}


/* infowindow */
.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }


.hidden{
  display: none;
}

form{
  height: 250px;
  color: white;
  font-size: 24px;
  background-repeat: no-repeat;
  background-image: url('https://thumbs.gfycat.com/CourageousInferiorGrouper-size_restricted.gif');
}
.getOutOne{
  height: 250px;
  color: white;
  font-size: 24px;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/OBmCoqx.gif');
}

.getOutTwo{
  height: 250px;
  color: white;
  font-size: 24px;
  background-repeat: no-repeat;
  background-image: url('https://media0.giphy.com/media/26gsv1iextbg5Gm5O/giphy.gif');
}
.seconds{
  color: red;
  font-size: 40px;
  padding: 30px;  
}
