body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}


#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}


/* infowindow */
.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        
    }


.hidden{
  display: none;
}
form{
  height: 250px;
  color: white;
  font-size: 24px;
  background-repeat: no-repeat;
  background-image: url('https://mojtv.hr/thumb.ashx?path=/images/c53d5b03-d113-4344-aaf2-5430453b56a6.jpg&w=491&h=250');
}
